[run]
source =
    document_processor/src/document_processor
    document_processor/src/main.py
omit =
    */tests/*

[paths]
source =
    document_processor/src/document_processor
    /app/document_processor/src/document_processor
